<!-- network/templates/ip_form.html -->

{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/ip.css' %}">

<h2>Donne moi une IP!</h2>

{% autoescape off %}
{% if message %}
    <div id="vlanAvailability">{{ message }}</div>
    <p></p>
{% endif %}
{% endautoescape %}

<p id="vlanTitle">Sélectionnez le VLAN:</p>
<select name="vlans" id="vlansList" style="width: 200px;">
    <option value="">-- Choisissez un VLAN --</option>
    {% for vlan in availableVlans %}
    {% if selected_vlan|safe == vlan.vlan_id|safe %}
        <option value="{{ vlan.vlan_id }}" selected>
    {% else %}
        <option value="{{ vlan.vlan_id }}">
    {% endif %}
        {{ vlan.vlan_id }} - {{ vlan.name }}
        </option>
    {% endfor %}
</select>

<p></p><hr id="joliTrait" style="display: none;">

<p id="ipDispo" style="display: none;">IP disponible(s) pour ce vlan :</p>

<table id="address-table">
    <tbody id = "freeIpAddressesTableBody"></tbody>
</table>

<!-- Modal -->

<form method="POST" action="{% url 'network:donne_ip' %}">
    {% csrf_token %}
    <div class="modal" id="addressModal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div>
                <span id="selectedIpAddress"></span>
                <p><hr/></p>
            </div>
            <div>
                <label for="hostname">Nom d'hote:</label>
                <p></p>
                <input type="text" id="hostname" name="hostname">
            </div>
            <p></p>
            <div>
                <label for="description">Description:</label>
                <p></p>
                <input type="text" id="description" name="description">
            </div>
            <p></p>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="pingFromHost" name="pingFromHost" disabled>
                <label class="form-check-label" for="pingFromHost" style="user-select: none;">Ping depuis l'hôte</label>
            </div>
            <p></p>
            <div>
                <input type="checkbox" class="form-check-input" id="pingFromServer" name="pingFromServer">
                <label class="form-check-label" for="pingFromServer">Ping depuis le serveur</label>
            </div>
            <p></p>
            <button id="submitBtn">Enregistrement</button>
            <input type="hidden" id="addressId" name="addressId" value="">
            <input type="hidden" id="selectedVlan" name="selectedVlan" value="">
        </div>
    </div>
</form>


<script src="{% static 'js/ip.js' %}"></script>

{% endblock %}
