<!-- network/templates/network_form.html -->

{% extends 'base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/network.css' %}">

<h2>Ajouter un réseau</h2>

{% autoescape off %}
{% if message %}
    <div id="vlanAvailability">{{ message }}</div>
    <p></p>
{% endif %}
{% endautoescape %}

<form method="post" action="{% url 'network:network_view' %}">
    {% csrf_token %}

    <label for="first_three_bytes" id="first_three_bytes_label">Trois premiers octets:</label>
    <input type="text" id ="first_three_bytes" name="first_three_bytes" required maxlength="15" placeholder="Ex. 192.168.0">
    <select name="networks_masks" disabled id="networks_masks">
        <option value="" disabled selected>-- Choisissez un masque --</option>
        {% for network in networks_masks %}
        <option value="{{ network.mask }}" data-mask="{{ network.mask }}" data-nb-hosts="{{ network.nb_hosts }}">
            /{{ network.CIDR }} : {{ network.mask }}
        </option>
        {% endfor %}
    </select>

    <p id="nb_hosts_display"></p>
    <input type="hidden" id="nb_hosts_value" name="nb_hosts_value">

    <div id="noNetworkMessage" style="display: none;">Des IP sont déjà allouées sur le ou les réseau(x) sélectionné(s).</div>
    
    <hr class="joliTrait">

    <p id="networkTitle">Liste des reséaux disponibles :</p>

    <div id="radioButtonContainer"></div>

    <p><hr class="joliTrait"></p>
    
    <p id="vlanTitle">Selection du vlan à associer à ce réseau :</p>
    <select name="vlans" id="vlansList">
        <option value="">-- Choisissez un VLAN --</option>
        {% for vlan in availableVlans %}
            <option value="{{ vlan.vlan_id }}" data-vlanId="{{ vlan.vlan_id }}">
                {{ vlan.vlan_id }} - {{ vlan.name }}
            </option>
        {% endfor %}
    </select>
    
    <p><button id="addBtn" type="submit">Ajouter</button></p>
</form>

<script src="{% static 'js/network.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

{% endblock %}
