body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px;
}

.wrapper {
    flex: 1;
}

#header-main {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligner le contenu à gauche et à droite */
    padding: 10px;
    background-color: #f2f2f2;
    border: 2px solid #ccc;
    border-radius: 20px;
}

#left-section {
    display: flex; /* Utiliser flexbox pour aligner le logo et le titre */
    align-items: center; /* Aligner les éléments verticalement */
}

#header-main img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

#header-main h1 {
    margin: 0;
    font-size: 48px;
}

#right-section {
    display: flex;
    font-size: 20px;
}

#right-section a {
    margin-left: 20px;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: auto;
    color: grey;
}

@media only screen and (max-width: 700px) {
    #right-section {
        display: flex;
        flex-direction: column;
    }
    
    #right-section a {
        margin-bottom: 10px;
    }
}