h1 {
    margin: 20px;
    text-align: center;
    font-size: 30px;
}

.project-container {
    transition: background-color 0.3s ease; /* changement de couleur mais non pris en compte à cause du plugin AOS */
    background-color: #d3dcdf;
    border: 2px solid black; /* bordure du cadre du container "project-container" */
    padding: 10px; /* marge interieure du container "project-container" */
    margin: 20px; /* marge exterieure du container "project-container" */
    margin-bottom: 10px; /* marge exterieure haute du container "project-container" */
    border-radius: 20px; /* angle du bord du container "project-container" */
}

.project-container:hover {
    background-color: #8bb7c5; /* changement de couleur du container "project-container" quand la souris passe dessus */
}

h2 {
    font-size: 30px;
    margin-top: 0px;
}

.image-description {
    display: flex;
    align-items: flex-start;
    gap: 10px; /* Espace entre l'image et la description */
    background-color: #dfd5d5;
    border-radius: 20px;
    border: 2px solid black; /* epaisseur de la bordure du container */
}

.image {
    flex: 0 0 auto;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
}

.image img {
    width: 100%;
    /* object-fit: cover; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: -3.5px;
}

.description {
    padding: 10px;
}

.url_github-duration {
    background-color: #dfd5d5;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid black;
}

.skills-technologies {
    display: flex;
    justify-content: space-between;
}

.skills,
.technologies {
    width: 48.6%;
    padding-left: 10px;
    background-color: #dfd5d5;
    border-radius: 20px;
    border: 2px solid black;
}

/* Rrègles pour les écrans de téléphone mobile */
@media only screen and (max-width: 700px) {
    .project-container {
        margin: 10px;
        padding: 5px;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex: 0 0 100%;
    }

    .image img {
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .image-description {
        flex-direction: column;
        align-items: center;
    }

    .description {
        margin-top: 10px;
    }

    .skills,
    .technologies {
        width: 100%;
    }

    .skills {
        margin-right: 5px;
    }

    .technologies {
        margin-left: 5px;
    }
}

